<script>
  $(document).ready(function(){

    /*
    $("#select_producto").change(function(){
      var item = $("#select_producto option:selected").text();
      var html1 = "<p>"+item+"</p>";
      var html2 = "<input type='hidden' value="+$(this).val()+" name='usu[][item]' />";
 
      $("#divProductos").append(html1);
      $("#divProductos").append(html2);

      
    });*/
    
    $( "#id_movies, #id_series" ).select2({
      multiple:true
    });
    
  });
  
</script>

  
  <h3>Agendar: </h3>
  
    <%= form_tag(guardar_path, method: "post", :class => 'form-horizontal', :role => 'form', :multipart => true )  do %>

      <hr />
      
      <div class="form-group">
          <label for="" class="col-xs-2 col-sm-2 col-md-2 control-label" style="color: black;">Nombre</label>
          <div class="col-xs-offset-1 col-xs-4 col-sm-4 col-md-6">
              <input type="text" required name="usuario[nombre]" pattern="[a-zA-Z\ ]{3,25}" placeholder="Ej : Juan Pablo" class="form-control" value=""/>
          </div>
      </div>
      
      <hr />

      <div class="form-group">
          <label for="" class="col-xs-2 col-sm-2 col-md-2 control-label" style="color: black;">Email</label>
          <div class="col-xs-offset-1 col-xs-4 col-sm-4 col-md-4">
              <input type="text" required name="usuario[email]"  pattern="^.+@.+$"  class="form-control"  placeholder="Ej : xxxxx@xxxxxx.xxx" value="">
          </div>
      </div>

      <hr />

       <div class="form-group" >
            <label for="" class="col-xs-2 col-sm-2 col-md-2 control-label" style="color: black;">Productos(*)</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10">

              <!-- MULTI SELECT-->
              peliculas
              <%= select_tag "movie", options_from_collection_for_select(Movie.all,"id","titulo"), :multiple => true, :id => "id_movies", :class => "class_html form-control" %>  
              
              series
              <%= select_tag "serie", options_from_collection_for_select(Serie.all,"id","titulo"), :multiple => true, :id => "id_series", :class => "class_html form-control" %>   
            
              </select> 
              
            </div>
        </div>

      <hr />

 <div class="form-group">

          <div class="col-xs-offset-3 col-xs-3 col-sm-3 col-md-3">
              <input type="submit" id="actualizar" value="Guardar Cambios" style="width: 100%; font-size: 130%" class="btn btn-primary registrar"/>
              <a href='<%= home_path %>' class='btn btn-success '>Volver</a>
          </div>
 </div>
				   

<% end %>

  