<!DOCTYPE html>
<html>
<head>
  <title>Pelis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  
  <center><h1>Películas</h1></center><hr>
  
<%= yield %>
  
</div>

</body>
</html>
